@model TurfManagement.Models.TimeSlotModel

@using (Html.BeginForm("AddTimeSlot", "Admin", FormMethod.Post))
{
    <div class="form-group mb-3">
        <label for="datepicker" class="col-md-2 col-form-label">Date</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SlotDate, "{0:yyyy-MM-dd}", new { id = "datepicker", @class = "form-control" })
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="startTimepicker" class="col-md-2 col-form-label">Start Time</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.StartTime, "{0:HH:mm:ss}", new { id = "startTimepicker", @class = "form-control timepicker" })
        </div>

        <label for="endTimepicker" class="col-md-2 col-form-label">End Time</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.EndTime, "{0:HH:mm:ss}", new { id = "endTimepicker", @class = "form-control timepicker" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Time Slot" class="btn btn-primary btn-sm" />
        </div>
    </div>
}

<script src="~/Js/TimeslotValidation.js"></script>
